main {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     flex-wrap: wrap;
     align-content: center;
}
.body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-set {
    height: 65%;
    width: 23%;
    background-color: #fff;
    border-radius: 5%;
    padding: 1%;
    text-align: center;
}

img {
    height: 65%;
    width: 100%;
    border-radius: 5%;
}

h2 {
    font-size: 12.75px;
    font-family: sans-serif;
} 

p {
    font-size: 8px;
     font-family: calibri;
     font-weight: lighter;
     padding-left: 15px;
     padding-right: 15px;
    }