.body { 
    height: 350px;
    width: 700px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    margin: 90px 0 90px 0;
}

.inner-set {
    height: 65%;
    width: 23%;
    background-color: #fff;
    border-radius: 5%;
}